In [82]:
import pandas as pd
import numpy as np
import statistics
import math

In [39]:
df = pd.DataFrame({"Name":["Adam","Anna","James","Corey","Alisha","Jodie","John"],
                   "Math":[11,12,11,7,9.5,15,18],
                   "Science":[9,11,18,15.5,12,18.5,15.5],
                   "Reading":[16,8.5,11.5,11,10.5,7,11],
                   "History":[13.5,10,9,14,14,12,7.5]})
df

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

In [40]:
"""Calculate the mean for each individual subject.
Find the median grade in Math for all students.
Calculate the mode for History
"""

"""print(f"Adam's mean {df.loc[0].mean()}")
print(f"Anna's mean {df.loc[1].mean()}")
print(f"James's mean {df.loc[2].mean()}")
print(f"Corey's mean {df.loc[3].mean()}")
print(f"Alisha's mean {df.loc[4].mean()}")
print(f"Jodie's mean {df.loc[5].mean()}")
print(f"John's mean {df.loc[6].mean()}")"""
adam = df.loc[0,["Math","Science","Reading","History"]].mean()
print(f"Adam's mean: {adam}")

anna = df.loc[1,["Math","Science","Reading","History"]].mean()
print(f"Anna's mean: {anna}")

james = df.loc[2,["Math","Science","Reading","History"]].mean()
print(f"James' mean: {james}")

corey = df.loc[3,["Math","Science","Reading","History"]].mean()
print(f"Corey's mean: {corey}")

alisha = df.loc[4,["Math","Science","Reading","History"]].mean()
print(f"Alisha's mean: {alisha}")

jodie = df.loc[5,["Math","Science","Reading","History"]].mean()
print(f"Jodie's mean: {jodie}")

john = df.loc[6,["Math","Science","Reading","History"]].mean()
print(f"John's mean: {john}")

Adam's mean: 12.375
Anna's mean: 10.375
James' mean: 12.375
Corey's mean: 11.875
Alisha's mean: 11.5
Jodie's mean: 13.125
John's mean: 13.0

In [43]:
#Find the median grade in Math for all students.
math_grades = df["Math"]

math_med = np.median(math_grades)

math_med

11.0

In [46]:
#Calculate the mode for History

history_grades = df["History"]

h_mode = statistics.mode(history_grades)

h_mode

14.0

In [75]:
numbers_df = df[["Math","Science","Reading","History"]]
numbers_df = df.iloc[1:,1:]
numbers_df

   Math  Science  Reading  History
1  12.0     11.0      8.5     10.0
2  11.0     18.0     11.5      9.0
3   7.0     15.5     11.0     14.0
4   9.5     12.0     10.5     14.0
5  15.0     18.5      7.0     12.0
6  18.0     15.5     11.0      7.5

In [95]:
"""Given the following grades from Question 1, 
calculate the correlation between the different subjects. 
What two subjects have the strongest correlation?
"""
print(numbers_df.corr())

#the 2 subjects that correlation the most are history and math
# those subjects have a strong negative correlation
# meaning people with high scores in math have low history scores and visa versa

             Math   Science   Reading   History
Math     1.000000  0.257415 -0.307486 -0.728944
Science  0.257415  1.000000 -0.016921 -0.189465
Reading -0.307486 -0.016921  1.000000 -0.145010
History -0.728944 -0.189465 -0.145010  1.000000

In [88]:
"""Write a Python function named desc_stats() that takes a list of numbers and 
prints the following statistical calculations:
Mean, Median, Mode, Minimum, Maximum, Range, Variance, Standard deviation

"""

math_scores = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]

def desc_stats(scores):
    mean = np.mean(scores)
    median = np.median(scores)
    mode = statistics.mode(scores)
    max_score = max(scores)
    min_score = min(scores)
    score_range = max_score - min_score
    var = sum((x - mean) ** 2 for x in scores) / len(scores)
    stand_dev = math.sqrt(var)
    
    print(f"""Mean: {mean}, Median: {median}, Mode: {mode}, Max: {max_score}, Min: {min_score}, Range: {score_range},
          Variance: {var}, Standard Deviation: {stand_dev}""")

desc_stats(math_scores)

Mean: 59.47826086956522, Median: 60.0, Mode: 60, Max: 99, Min: 5, Range: 94,
          Variance: 664.162570888469, Standard Deviation: 25.77135174740489

In [ ]:
#Extended Challenge
# I would think about curving the grade given that the mean and median are both around 60%
# I would think about curving it to a 70% 
# but since there is such a wide range of 94 and the student with the best grade recieved a 99% 
# I would believe it would be unfair to that student since their grade would only receive a 1 point increase. 
# The Standard deviation is also very large at 25.77 for a 0-100 grading scale 
# and since the mean and median are both barely failing 
# most people would not receive an increase in their letter grade
# if a 10 point curve was given so I was just not curve this test as the majority of the class 
# would not be impacted by a reasonable curve